<a href="/logout" class="navbar-button"> Sign out </a>

  <h1> New Program </h1>
  <form action="/programs" method="POST">
    <label for="name">Program Name:</label>
    <br>
    <input name="name" id="name"> </input>
    <br>

    <label for="category">Category:</label>
    <br>
    <input name="category" id="category"> </input>
    <br>

    <label for="description">Description:</label>
    <br>
    <input name="description" id="description"> </input>
    <br>

    <label for="url">Link:</label>
    <br>
    <input name="url" id="url"> </input>
    <br>

    <label for="install_date">Install Date:</label>
    <br>
    <input name="install_date" id="install_date"> </input>
    <br>

    <input type="submit" value="Add New Program" class="red-form-button">
  </form>

  <a href="/programs" class="orange-form-button"> Cancel </a>
