  <% binding.pry %>

  <h3>Name: <%= @program.name %> </h3>

  <p>Category: <%= @program.category %> </p>

  <p>Description: <%= @program.description %> </p>

  <p>Link: <%= @program.url %> </p>

  <p><a href='/programs'>Go Back to Programs List</a></p>
