h1 {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 50px;
}

h2, h3, h4 {
font-family: 'Share Tech Mono', monospace;
}

p {
font-family: 'Share Tech Mono', monospace;
}

input {
font-family: 'Share Tech Mono', monospace;
}

label {
font-family: 'Share Tech Mono', monospace;
}

tr {
font-family: 'Share Tech Mono', monospace;
}

td {
font-family: 'Share Tech Mono', monospace;
}

a#navbar-title {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 1.8em;
  position: fixed;
  margin-top: -40px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
div.nav-background {
  position: fixed;
  width: 100%;
  height: 6%;
  margin-top: -40px;
  background-color: rgb(181, 33, 0);
  z-index: -1;
}
