body {
  margin: 0;
}

h1 {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 3em;
  margin-left: 5%;
  margin-right: 5%;
}

h2, h3, h4 {
font-family: 'Share Tech Mono', monospace;
margin-left: 5%;
margin-right: 5%;
font-size: 2em;
padding-top: 10px;
}

p {
font-size: 1.2em;
font-family: 'Share Tech Mono', monospace;
margin-left: 5%;
margin-right: 5%;
}

input {
font-family: 'Share Tech Mono', monospace;
}

label {
font-family: 'Share Tech Mono', monospace;
}

tr {
font-family: 'Share Tech Mono', monospace;
}

td {
font-family: 'Share Tech Mono', monospace;
}

form {
margin-left: 5%;
}

#front-page-button-signup {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 1.8em;
  display: inline-block;
  color: rgb(255, 250, 250);
  text-decoration: none;
  background-color: rgb(255, 134, 38);
  padding: 1%;
  border-radius: 10px;
  margin-left: 5%;
  text-align: center;
}

#front-page-button-login {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 1.8em;
  display: inline-block;
  color: rgb(255, 250, 250);
  text-decoration: none;
  background-color: rgb(255, 38, 44);
  padding: 1%;
  border-radius: 10px;
  margin-left: 5%;
  text-align: center;
}

#front-page-button-signup:hover {
  background-color: rgb(215, 115, 34);
}

#front-page-button-login:hover {
  background-color: rgb(212, 30, 35);
}

a#navbar-title {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 110%;
  position: fixed;
  margin-top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(255, 250, 250);
  text-decoration: none;
}

div.nav-background {
  position: fixed;
  width: 100%;
  height: 6%;
  margin-top: -40px;
  background-color: rgb(255, 38, 44);
  z-index: -1;
  max-height: 46px;
  min-height: 40px;
}

a#navbar-button {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 110%;
  position: fixed;
  margin-top: -30px;
  left: 90%;
  transform: translateX(-50%);
  color: rgb(255, 250, 250);
  text-decoration: none;
  background-color: rgb(212, 30, 35);
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1%;
  padding-right: 1%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  text-align: center;
}
