<h1> Log In to your Existing Account </h1>

<form action="/login" method="POST">
  <label for="email">Email address</label>
  <br>
  <input name="email" id="email"> </input>
  <br>
  <label for="password">Password</label>
  <br>
  <input name="password" id="password"> </input>
  <br>
  <input type="submit" value="Sign in" class="red-form-button">
</form>

<h3> Don't have an Account? <h3>
<a href="/signup"> Click here to Sign Up <a>
