<h1> Log In to your Existing Account </h1>

<form action="/login" method="POST">
  <label for="email">Email address</label>
  <input name="email" id="email"> </input>

  <label for="password">Password</label>
  <input name="password"> </input>

  <input type="submit" value="Sign in">
</form>
