 <h1> Sign Up for an Account </h1>

 <form action="/signup" method="POST">
   <label for="email">Email address</label>
   <input name="email" id="email"> </input>

   <label for="password">Password</label>
   <input name="password"> </input>

   <input type="submit" value="Create Account">
 </form>
