 <h1> Sign Up for an Account </h1>

 <form action="/signup" method="POST">
   <label for="email">Email address</label><br>
   <input name="email" id="email"> </input><br>

   <label for="password">Password</label><br>
   <input name="password"> </input><br>

   <input type="submit" value="Create Account" class="red-form-button"><br>
 </form>

 <h3> Already have an Account? <h3>
 <a href="/login"> Click here to Log In <a>
