 <h2> You are signed in. </h2>
 <h3> Your email is <%=@user.email%>. </h3>

<% if @user.programs.length == 1 %>
 <h4> You have 1 program. </h4>
 <% else %>
 <h4> You have <%= @user.programs.length %> programs. </h4>
 <% end %>
 <h4> <a href="/programs">Click here to view all of your programs.</a> </h4>
