<h1> Welcome to Program Tracker </h1>
<p> This is a Ruby application that allows you to manually enter and view the applications on your computer (or other device). </p>
<p> Click the Sign Up button below to create an account and start tracking your programs. If you already have an account, click on the Log In button. </p>
<p> You can add a program name, description, category, and a URL where you can find the program and documentation. </p>
<a id="front-page-button-signup" href='/signup'>Sign Up</a>
<a id="front-page-button-login" href='/login'>Log In</a>
