<!doctype html>
<html>
  <head>
    <title>Program Tracker</title>
    <meta charset="UTF-8">
    <meta name="description" content="Track computer programs">
    <meta name="author" content="Eric Shiels">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../styles.css">
    <link href="https://fonts.googleapis.com/css?family=Palanquin+Dark:500,600|Share+Tech+Mono" rel="stylesheet">
  </head>
  <body>
    <nav>
<a href="/programs" id="navbar-title"> Program Tracker </a>
    </nav>
<%= yield %>
  </body>
</html>
